.header-container {
}

h1 {
  font-family: "CyberpunkFont";
  color: red;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  font-size: 124px;
  line-height: 84px;
  text-align: center;
  height: 0;
  position: relative;
  top: calc(54vh - 10px);
}

.lian {
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35vh;
  background-image: url(../../assets/images/Lian_Seto.webp);
}

@media screen and (max-height: 1080px) {
  // .lian {
  //   background-size: 400px;
  // }
  // h1 {
  //   top: 640px;
  // }
}
